header {
    background-color: #edc7ad;
    width: 100%;
  
}

nav {
    background-color: #edc7ad;
    border: 12px;
    color: black;
    margin: 4px;
    padding: 4px;
    font-size: 16px;
    display: inline;
}



main {
    font-size: larger;
    background-color: #edc7ad;
    
}

